/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
section.category-package {
  padding: 0 0 65px 0;
}
section.category-package .category-package-inner .category-package-main {
  width: 100%;
  height: 405px;
  position: relative;
}
section.category-package .category-package-inner .category-package-main h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "SpoqaHanSansNeo-Regular";
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
section.category-package .category-package-inner .category-package-main img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
section.category-package .category-package-inner .category-package-detail {
  margin: 24px 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #dddddd;
}
section.category-package .category-package-inner .category-package-detail h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
}
section.category-package .category-package-inner .category-package-detail .category-shortcut-btn-group .btn-shortcut {
  border: none;
  font-size: 13px;
  border-radius: 30px;
  padding: 5px 15px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #bdbdbd;
  font-weight: 500;
}
section.category-package .category-package-inner .category-package-detail .category-shortcut-btn-group .btn-shortcut.active {
  background-color: #333333;
  color: #ffffff;
}
section.category-package .category-package-inner .category-package-sort {
  text-align: end;
  margin-bottom: 22px;
}
section.category-package .category-package-inner .category-package-sort button {
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  padding: 0;
}
section.category-package .category-package-inner .category-package-sort button:before {
  content: "|";
  padding: 0 23px;
  cursor: default;
  color: #dddddd;
}
section.category-package .category-package-inner .category-package-sort button:first-child::before {
  display: none;
}
section.category-package .category-package-inner .category-package-sort button.active {
  color: #057233;
  font-weight: 700;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items {
  margin-bottom: 40px;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .slick-list {
  margin: 0 -30px;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .slick-slide {
  margin: 0 30px;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item {
  cursor: pointer;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .thum {
  width: 100%;
  height: 275px;
  margin-bottom: 11px;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .thum img {
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc {
  font-family: "SpoqaHanSansNeo-Regular";
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc .package-title {
  font-size: 13px;
  font-weight: 400;
  color: #555555;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc h4 {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc .package-info {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc .package-price {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  text-align: end;
  margin-top: 14px;
}
section.category-package .category-package-inner .category-package-wrap .focus-package-items .focus-package-item .desc .package-price em {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
section.category-package .category-package-inner .paging {
  display: flex;
  justify-content: center;
}
section.category-package .category-package-inner .paging button {
  background-color: transparent;
  border: none;
}
section.category-package .category-package-inner .paging > button {
  margin: 0 10px;
  font-size: 18px;
  transform: translateY(-3px);
}
section.category-package .category-package-inner .paging .btn-paging-group .btn-paging.active {
  background-color: #057233;
  border-radius: 3px;
  color: white;
}