@import "variables", "reset", "fonts";

/* front-slider */
.front-slider {
  .front-slider-items {
    .front-slider-item {
      cursor: pointer;
      .front-slider-item-wrap {
        width: 1160px;
        margin: auto;
        height: 405px;
        background-size: cover;
        border-radius: 10px;
        .desc {
          font-family: $shsn-font;
          font-size: 15px;
          color: $dark-black;
          padding: 106px 90px 0;
          b {
            font-weight: 700;
          }
          h1 {
            font-weight: 700;
            font-size: 36px;
            margin: 10px 0 25px;
          }
          button {
            font-weight: 700;
            color: $white;
            background-color: #7f828e;
            border: none;
            padding: 7px 25px 7px 25px;
          }
        }
        .slider2,
        .slider3 {
          b,
          h1 {
            color: $white;
          }
        }
        .slider2 {
          padding: 76px 374px 0;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }
}

/* category-shortcut */
section.category-shortcut {
  padding: 38px 0 65px;
  .category-shortcut-inner {
    .category-shortcut-items {
      display: flex;
      gap: 26px;
      border-radius: 10px;
      .category-shortcut-item {
        flex: 1;
        height: 125px;
        box-shadow: 0 0 20px reba($black, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
        em {
          font-size: 20px;
          color: $dark-black;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $white;
          .bi {
            transform: translate(0, -2px);
          }
        }
        &:nth-child(1) .bi {
          color: $cyanblue;
        }
        &:nth-child(2) .bi {
          color: $orange;
        }
        &:nth-child(3) .bi {
          color: $pink;
        }
        &:nth-child(4) .bi {
          color: $greencyan;
        }
        &:nth-child(5) .bi {
          color: $turquoise;
        }
        &:nth-child(6) .bi {
          color: $dark-gray;
        }
        span {
          font-size: 16px;
          font-family: $rw-font;
          font-weight: 400;
          color: $dark-black;
        }
        &:nth-child(1) {
          background-color: rgba($cyanblue, 0.2);
        }
        &:nth-child(2) {
          background-color: rgba($orange, 0.2);
        }
        &:nth-child(3) {
          background-color: rgba($pink, 0.2);
        }
        &:nth-child(4) {
          background-color: rgba($greencyan, 0.2);
        }
        &:nth-child(5) {
          background-color: rgba($turquoise, 0.2);
        }
        &:nth-child(6) {
          background-color: rgba($light-black, 0.2);
        }
      }
    }
  }
}

/* focus-package */
.focus-package {
  background-color: $cloudy-gray;
  .focus-package-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .focus-package-content {
      position: relative;
      .focus-package-items1,
      .focus-package-items2 {
        overflow: hidden;
        .slick-list {
          margin: 0 -30px;
        }
        .slick-slide {
          margin: 0 30px;
        }
        .slick-prev {
          z-index: 9999;
        }
        .focus-package-item {
          cursor: pointer;
          .thum {
            width: 100%;
            height: 275px;
            margin-bottom: 11px;
            img {
              object-fit: cover;
              width: inherit;
              height: inherit;
            }
          }
          .desc {
            font-family: $shsn-font;
            .package-title {
              font-size: 13px;
              font-weight: 400;
              color: $dim-black;
            }
            h4 {
              font-size: 16px;
              font-weight: 500;
              color: $dark-black;
            }
            .package-info {
              font-size: 13px;
              font-weight: 400;
              color: $silver-black;
            }
            .package-price {
              font-size: 15px;
              font-weight: 400;
              color: $dark-black;
              text-align: end;
              margin-top: 14px;
              em {
                font-size: 20px;
                font-weight: 700;
                font-style: normal;
              }
            }
          }
        }
      }
      .controls1,
      .controls2 {
        width: 100%;
        top: 50%; /* 슬라이드의 중앙에 위치 */
        position: absolute; /* 절대 위치 설정 */
        transform: translateY(-50%); /* 수직 중앙 정렬 */
        .prevArrow,
        .nextArrow {
          position: absolute; /* 절대 위치 설정 */
          font-family: $bs-font;
          color: $dark-black;
          display: inline-block;
          cursor: pointer;
          font-size: 30px;
          &:before {
            content: "\F285"; /* 아이콘 */
            display: inline-block;
          }
        }
        .prevArrow {
          left: -50px; /* 왼쪽 위치 */
          &::before {
            transform: rotateY(180deg);
          }
        }
        .nextArrow {
          right: -50px; /* 오른쪽 위치 */
        }
      }
    }
  }
}

/* best-package */
.best-package {
  .best-package-inner {
    .best-package-content {
      .front-header {
        h2 {
          em {
            color: $cyanblue;
            font-style: normal;
          }
        }
      }
      .best-package-wrap {
        display: flex;
        gap: 26px;
        .best-package-banner {
          width: 708px;
          height: 489px;
          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }
        .best-package-items-outer {
          font-family: $shsn-font;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .best-package-intro {
            font-weight: 400;
            h3 {
              font-size: 24px;
              color: #038db1;
            }
            .desc,
            .tag {
              font-family: $rw-font;
              font-size: 20px;
              color: $dark-black;
            }
          }
          .best-package-items {
            display: flex;
            flex-direction: column;
            gap: 6px;
            .best-package-item {
              display: flex;
              gap: 9px;
              cursor: pointer;
              .thum {
                width: 130px;
                height: 102px;
                img {
                  object-fit: cover;
                  width: inherit;
                  height: inherit;
                }
              }
              .desc {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .best-package-title {
                  font-size: 13px;
                  color: $dim-black;
                  font-weight: 400;
                }
                h4 {
                  font-size: 15px;
                  color: $dark-black;
                  font-weight: 500;
                }
                .best-package-info {
                  font-size: 12px;
                  color: $silver-black;
                  font-weight: 400;
                }
                .best-package-price {
                  font-size: 11px;
                  color: $dark-black;
                  font-weight: 400;
                  em {
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* early-bird */
.early-bird {
  background-color: $cloudy-gray;
  .early-bird-inner {
    .early-bird-content {
      .countdown-wrap {
        width: 345px;
        margin: auto;
        margin-bottom: 54px;
        text-align: center;
        .early-bird-info {
          font-size: 13px;
          color: $silver-black;
          white-space: nowrap;
          font-weight: 400;
        }
      }
      .early-bird-banner {
        width: 1160px;
        height: 338px;
        img {
          width: inherit;
        }
      }
    }
  }
}

/* countdown */
.countdown {
  font-size: 36px;
  margin-bottom: 40px;
  em {
    font-weight: 400;
    font-style: normal;
    background-color: $cyanblue;
    color: $white;
    padding: 12px 8px;
    border-radius: 5px;
    position: relative;
    &:after {
      content: "hrs";
      position: absolute;
      font-size: 12px;
      text-align: center;
      left: 0;
      top: 100%;
      width: 100%;
      color: $dark-black;
    }
    &:nth-child(2):after {
      content: "min";
    }
    &:nth-child(3):after {
      content: "sec";
    }
  }
}

/* home-shopping */
.home-shopping {
  .home-shopping-inner {
    .home-shopping-content {
      .home-shopping-items {
        display: flex;
        gap: 13px;
        .home-shopping-item {
          cursor: pointer;
          background-color: $cloudy-gray;
          .thum {
            width: 100%;
            height: 400px;
            position: relative;
            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
            }
            &:before {
              content: "예술\A여행";
              position: absolute;
              background-color: #057233;
              color: #ffffff;
              font-family: "Raleway", sans-serif;
              font-size: 15px;
              font-weight: 500;
              width: 65px;
              height: 65px;
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: pre;
            }
          }
          &:nth-child(2) .thum:before {
            content: "자연\A탐방";
          }
          &:nth-child(3) .thum:before {
            content: "맛집\A탐방";
          }
          .desc {
            font-family: $shsn-font;
            font-size: 18px;
            font-weight: 500;
            margin: 23px 0 18px 23px;
          }
        }
      }
    }
  }
}

/* slogan */
.slogan {
  background-color: #d0e8fd;
  height: 220px;
  .slogan-inner {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    .slogan-content {
      span {
        font-family: $shsn-font;
        font-size: 24px;
        font-weight: 400;
        em {
          font-style: normal;
          color: $cyanblue;
          font-weight: 700;
        }
      }
      .slogan-img {
        position: absolute;
        right: 0;
        bottom: -65px;
        width: 531px;
        height: 220px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

/* review */
.review {
  .review-inner {
    .review-content {
      .review-wrap {
        .review-items {
          display: flex;
          gap: 30px;
          margin: 20px 0;
          &:last-child .review-item {
            border: none;
          }
          .review-item {
            cursor: pointer;
            flex: 1;
            display: flex;
            gap: 15px;
            border-bottom: 1px solid $silver-gray;
            padding-bottom: 10px;
            .review-info {
              .review-sort {
                font-size: 13px;
                color: $green;
                font-weight: 500;
              }
              h3 {
                font-size: 18px;
              }
              p {
                font-size: 15px;
                font-weight: 400;
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .thum {
              img {
                width: 110px;
                height: 110px;
                border-radius: 5px;
                object-fit: cover;
              }
            }
          }
        }
      }
      .btn-review {
        font-size: 16px;
        border: 1px solid $dim-gray;
        font-weight: 400;
        color: $dim-black;
        padding: 5px 20px;
        border-radius: 30px;
        margin: auto;
        display: block;
        width: min-content;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
