@import "variables", "reset", "fonts";

* {
  font-family: $ns-font;
  color: $dark-black;
}

body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
}

/* Temporary CSS */
.home-shopping,
.slogan,
.review,
footer {
  display: none;
}

/* ########### Common CSS ############ */
section:not(.front-slider) {
  padding: 65px 0;
}

[class*="inner"] {
  width: 1160px;
  margin: auto;
}

.front-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin-bottom: 19px;
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  a {
    font-size: 14px;
    font-weight: 400;
  }
}

/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: $white;
  border-bottom: 1px solid $silver-gray;
  position: relative;
  .header-inner {
    width: 1160px;
    .logo-search {
      padding: 15px 0;
      display: flex;
      gap: 76.54px;
      align-items: center;
      .logo {
        font-size: 0;
        img {
          width: 134.93px;
          height: 23px;
        }
      }
      .search {
        width: 520px;
        position: relative;
        input[type="text"] {
          width: 100%;
          background-color: $light-gray;
          border: 1px solid $silver-gray;
          padding: 10px;
          padding-left: 20px;
          border-radius: 30px;
          &:focus::placeholder {
            visibility: hidden;
          }
          &:focus {
            border: 1px solid rgba($green, 0.5);
            background-color: $white;
            box-shadow: 0 0 5px rgba($green, 0.5);
          }
          &:focus + .bi {
            color: $green;
          }
        }
        .bi {
          position: absolute;
          right: 15px;
          top: 50%;
          color: $dark-gray;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      .login-register-buttons {
        margin-left: auto;
        //로그인 전 보여질 UI
        display: none;
        button {
          border: 1px solid $dim-gray;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: transparent;
          &.btn-register {
            background-color: $green;
            color: $white;
            border: transparent;
          }
        }
      }
      .user-alam {
        //로그인 후에 보여질 UI
        margin-left: auto;
        display: flex;
        .avatar {
          img {
            height: 28px;
            border-radius: 50%;
          }
        }
        a {
          margin-right: 15px;
          vertical-align: middle;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .bi {
            font-size: 20px;
            width: 25px;
            display: block;
          }
          em {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $green;
            border-radius: 50%;
            right: -1px;
            top: 2px;
            text-align: center;
            line-height: 10px;
            &:before {
              content: attr(data-count);
              color: $white;
              font-style: normal;
              font-size: 11px;
            }
          }
          .bi-bell + em {
            right: -4px;
          }
          div {
            font-size: 11px;
            font-family: $rw-font;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
    .gnb {
      height: 50px;
      display: flex;
      align-items: center;
      gap: 26px;
      a {
        font-weight: 400;
        color: $dim-black;
        &:after {
          content: "·";
          padding-left: 13px;
          cursor: default;
        }
        &:last-child:after {
          display: none;
        }
        &:hover:not(.trigger) {
          color: $green;
        }
      }
      .trigger {
        &:before {
          content: "";
          background: url(../images/list.svg);
          width: 20px;
          height: 18px;
          display: inline-block;
          margin-right: 5px;
          transform: translateY(4px);
        }
      }
    }
  }
  .mega-navi {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $dark-black;
    width: 100%;
    display: none;
    .mega-navi-inner {
      width: 1160px;
      margin: auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .mega-navi-item {
        color: $white;
        font-size: 300;
        line-height: 1.8em;
        flex: 1;
        b {
        }
        .mega-navi-item-wrap {
          a {
            display: block;
            color: $dark-gray;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* front-slider */
.front-slider {
  .front-slider-items {
    .front-slider-item {
      cursor: pointer;
      .front-slider-item-wrap {
        width: 1160px;
        margin: auto;
        height: 405px;
        background-size: cover;
        border-radius: 10px;
        .desc {
          font-family: $shsn-font;
          font-size: 15px;
          color: $dark-black;
          padding: 106px 90px 0;
          b {
            font-weight: 700;
          }
          h1 {
            font-weight: 700;
            font-size: 36px;
            margin: 10px 0 25px;
          }
          button {
            font-weight: 700;
            color: $white;
            background-color: #7f828e;
            border: none;
            padding: 7px 25px 7px 25px;
          }
        }
        .slider2,
        .slider3 {
          b,
          h1 {
            color: $white;
          }
        }
        .slider2 {
          padding: 76px 374px 0;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }
}

/* category-shortcut */
section.category-shortcut {
  padding: 38px 0 65px;
  .category-shortcut-inner {
    .category-shortcut-items {
      display: flex;
      gap: 26px;
      border-radius: 10px;
      .category-shortcut-item {
        flex: 1;
        height: 125px;
        box-shadow: 0 0 20px reba($black, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
        em {
          font-size: 20px;
          color: $dark-black;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $white;
          .bi {
            transform: translate(0, -2px);
          }
        }
        &:nth-child(1) .bi {
          color: $cyanblue;
        }
        &:nth-child(2) .bi {
          color: $orange;
        }
        &:nth-child(3) .bi {
          color: $pink;
        }
        &:nth-child(4) .bi {
          color: $greencyan;
        }
        &:nth-child(5) .bi {
          color: $turquoise;
        }
        &:nth-child(6) .bi {
          color: $dark-gray;
        }
        span {
          font-size: 16px;
          font-family: $rw-font;
          font-weight: 400;
          color: $dark-black;
        }
        &:nth-child(1) {
          background-color: rgba($cyanblue, 0.2);
        }
        &:nth-child(2) {
          background-color: rgba($orange, 0.2);
        }
        &:nth-child(3) {
          background-color: rgba($pink, 0.2);
        }
        &:nth-child(4) {
          background-color: rgba($greencyan, 0.2);
        }
        &:nth-child(5) {
          background-color: rgba($turquoise, 0.2);
        }
        &:nth-child(6) {
          background-color: rgba($light-black, 0.2);
        }
      }
    }
  }
}

/* focus-package */
.focus-package {
  background-color: $cloudy-gray;
  .focus-package-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .focus-package-content {
      position: relative;
      .focus-package-items1,
      .focus-package-items2 {
        overflow: hidden;
        .slick-list {
          margin: 0 -30px;
        }
        .slick-slide {
          margin: 0 30px;
        }
        .slick-prev {
          z-index: 9999;
        }
        .focus-package-item {
          cursor: pointer;
          .thum {
            width: 100%;
            height: 275px;
            margin-bottom: 11px;
            img {
              object-fit: cover;
              width: inherit;
              height: inherit;
            }
          }
          .desc {
            font-family: $shsn-font;
            .package-title {
              font-size: 13px;
              font-weight: 400;
              color: $dim-black;
            }
            h4 {
              font-size: 16px;
              font-weight: 500;
              color: $dark-black;
            }
            .package-info {
              font-size: 13px;
              font-weight: 400;
              color: $silver-black;
            }
            .package-price {
              font-size: 15px;
              font-weight: 400;
              color: $dark-black;
              text-align: end;
              margin-top: 14px;
              span {
                font-size: 20px;
                font-weight: 700;
              }
            }
          }
        }
      }
      .controls1,
      .controls2 {
        width: 100%;
        top: 50%; /* 슬라이드의 중앙에 위치 */
        position: absolute; /* 절대 위치 설정 */
        transform: translateY(-50%); /* 수직 중앙 정렬 */
        .prevArrow,
        .nextArrow {
          position: absolute; /* 절대 위치 설정 */
          font-family: $bs-font;
          color: $dark-black;
          display: inline-block;
          cursor: pointer;
          font-size: 30px;
          &:before {
            content: "\F285"; /* 아이콘 */
            display: inline-block;
          }
        }
        .prevArrow {
          left: -50px; /* 왼쪽 위치 */
          &::before {
            transform: rotateY(180deg);
          }
        }
        .nextArrow {
          right: -50px; /* 오른쪽 위치 */
        }
      }
    }
  }
}

/* best-package */
.best-package {
  .best-package-inner {
    .best-package-content {
      .front-header {
        h2 {
          span {
            color: $cyanblue;
          }
        }
        .btn-view-all {
          border: 1px solid $dark-gray;
          background-color: $white;
          padding: 3px 15px;
          border-radius: 30px;
          font-size: 13px;
        }
      }
      .best-package-wrap {
        display: flex;
        gap: 26px;
        .best-package-banner {
          width: 708px;
          height: 489px;
          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }
        .best-package-items-outer {
          font-family: $shsn-font;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .best-package-intro {
            font-weight: 400;
            h3 {
              font-size: 24px;
              color: #038db1;
            }
            .desc,
            .tag {
              font-family: $rw-font;
              font-size: 20px;
              color: $dark-black;
            }
          }
          .best-package-items {
            display: flex;
            flex-direction: column;
            gap: 6px;
            .best-package-item {
              display: flex;
              gap: 9px;
              cursor: pointer;
              .thum {
                width: 130px;
                height: 102px;
                img {
                  object-fit: cover;
                  width: inherit;
                  height: inherit;
                }
              }
              .desc {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .best-package-title {
                  font-size: 13px;
                  color: $dim-black;
                  font-weight: 400;
                }
                h4 {
                  font-size: 15px;
                  color: $dark-black;
                  font-weight: 500;
                }
                .best-package-info {
                  font-size: 12px;
                  color: $silver-black;
                  font-weight: 400;
                }
                .best-package-price {
                  font-size: 11px;
                  color: $dark-black;
                  font-weight: 400;
                  span {
                    font-size: 16px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* early-bird */
.early-bird {
  background-color: $cloudy-gray;
  .early-bird-inner {
    .early-bird-content {
      .countdown-wrap {
        width: 345px;
        margin: auto;
        margin-bottom: 54px;
        text-align: center;
        .early-bird-info {
          font-size: 13px;
          color: $silver-black;
          white-space: nowrap;
          font-weight: 400;
        }
      }
      .early-bird-banner {
        width: 1160px;
        height: 338px;
        img {
          width: inherit;
        }
      }
    }
  }
}

/* countdown */
.countdown {
  font-size: 36px;
  margin-bottom: 40px;
  em {
    font-weight: 400;
    font-style: normal;
    background-color: $cyanblue;
    color: $white;
    padding: 12px 8px;
    border-radius: 5px;
    position: relative;
    &:after {
      content: "hrs";
      position: absolute;
      font-size: 12px;
      text-align: center;
      left: 0;
      top: 100%;
      width: 100%;
      color: $dark-black;
    }
    &:nth-child(2):after {
      content: "min";
    }
    &:nth-child(3):after {
      content: "sec";
    }
  }
}
