@import "variables", "reset", "fonts";

* {
  font-family: $ns-font;
  color: $dark-black;
}

body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
  overflow-x: hidden;
}

/* ########### Common CSS ############ */
section:not(.front-slider) {
  padding: 65px 0;
}

[class*="inner"] {
  width: 1160px;
  margin: auto;
}

.front-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin-bottom: 19px;
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    &.btn-view-all {
      border: 1px solid $dark-gray;
      background-color: $white;
      padding: 3px 15px;
      border-radius: 30px;
      font-size: 13px;
    }
  }
}

/* Header */
header {
  display: flex;
  justify-content: center;
  background-color: $white;
  border-bottom: 1px solid $silver-gray;
  width: 100%;
  position: relative;
  z-index: 999;
  &.active {
    position: fixed;
    box-shadow: 0 0 5px rgba($dark-black, 0.2);
    border: none;
  }
  .header-inner {
    width: 1160px;
    .logo-search {
      padding: 15px 0;
      display: flex;
      gap: 76.54px;
      align-items: center;
      .logo {
        font-size: 0;
        img {
          width: 134.93px;
          height: 23px;
        }
      }
      .search {
        width: 520px;
        position: relative;
        input[type="text"] {
          width: 100%;
          background-color: $light-gray;
          border: 1px solid $silver-gray;
          padding: 10px;
          padding-left: 20px;
          border-radius: 30px;
          &:focus::placeholder {
            visibility: hidden;
          }
          &:focus {
            border: 1px solid rgba($green, 0.5);
            background-color: $white;
            box-shadow: 0 0 5px rgba($green, 0.5);
          }
          &:focus + .bi {
            color: $green;
          }
        }
        .bi {
          position: absolute;
          right: 15px;
          top: 50%;
          color: $dark-gray;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      .login-register-buttons {
        margin-left: auto;
        button {
          border: 1px solid $dim-gray;
          border-radius: 5px;
          padding: 5px 10px;
          background-color: transparent;
          margin-right: 5px;
          &.btn-register {
            background-color: $green;
            color: $white;
            border: transparent;
          }
        }
      }
      .user-alam {
        margin-left: auto;
        display: none;
        .avatar {
          img {
            height: 28px;
            border-radius: 50%;
          }
        }
        a {
          margin-right: 15px;
          vertical-align: middle;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .bi {
            font-size: 20px;
            width: 25px;
            display: block;
          }
          em {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $green;
            border-radius: 50%;
            right: -1px;
            top: 2px;
            text-align: center;
            line-height: 10px;
            &:before {
              content: attr(data-count);
              color: $white;
              font-style: normal;
              font-size: 11px;
            }
          }
          .bi-bell + em {
            right: -4px;
          }
          div {
            font-size: 11px;
            font-family: $rw-font;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
    .gnb {
      height: 50px;
      display: flex;
      align-items: center;
      gap: 26px;
      a {
        font-weight: 400;
        color: $dim-black;
        &:after {
          content: "·";
          padding-left: 13px;
          cursor: default;
        }
        &:last-child:after {
          display: none;
        }
        &:hover:not(.trigger) {
          color: $green;
        }
      }
      .trigger {
        &:before {
          content: "";
          background: url(../images/list.svg);
          width: 20px;
          height: 18px;
          display: inline-block;
          margin-right: 5px;
          transform: translateY(4px);
        }
      }
    }
  }
  .mega-navi {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $dark-black;
    width: 100%;
    display: none;
    .mega-navi-inner {
      width: 1160px;
      margin: auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .mega-navi-item {
        color: $white;
        font-size: 300;
        line-height: 1.8em;
        flex: 1;
        b {
          color: $white;
        }
        .mega-navi-item-wrap {
          a {
            display: block;
            color: $dark-gray;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* footer */
footer {
  background-color: $dim-black;
  padding: 60px 0;
  font-size: 13px;
  * {
    color: $dark-gray;
  }
  .footer-inner {
    .lnb-wrap {
      display: flex;
      gap: 100px;
      padding-bottom: 40px;
      border-bottom: 1px solid $silver-black;
      * {
        font-family: $shsn-font;
      }
      .footer-slogan {
        h2 {
          color: $silver-gray;
        }
      }
      .lnb {
        display: flex;
        justify-content: space-between;
        flex: 1;
        .link-item {
          .link-item-title {
            color: $silver-gray;
          }
          .link-item-content {
            a {
              display: block;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .copyright-wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      align-items: center;
      address {
        font-style: normal;
      }
      .sns {
        a {
          font-size: 20px;
          margin: 3px;
          &:hover .bi {
            color: $white;
          }
        }
      }
    }
  }
}
