/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

em {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ########### Mobile Common CSS ############ */
@media (max-width: 767px) {
  [class*=inner] {
    width: 100%;
  }
  /* Header */
  header .header-inner {
    width: 100%;
    padding: 0 10px;
  }
  header .header-inner .logo-search .search {
    display: none;
  }
  header .header-inner .logo-search .user-alam {
    margin-left: auto;
    display: none;
  }
  header .header-inner .logo-search .user-alam .avatar img {
    height: 28px;
    border-radius: 50%;
  }
  header .header-inner .logo-search .user-alam a {
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  header .header-inner .logo-search .user-alam a .bi {
    font-size: 20px;
    width: 25px;
    display: block;
  }
  header .header-inner .logo-search .user-alam a em {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #057233;
    border-radius: 50%;
    right: -1px;
    top: 2px;
    text-align: center;
    line-height: 10px;
  }
  header .header-inner .logo-search .user-alam a em:before {
    content: attr(data-count);
    color: #ffffff;
    font-size: 11px;
  }
  header .header-inner .logo-search .user-alam a .bi-bell + em {
    right: -4px;
  }
  header .header-inner .logo-search .user-alam a div {
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    white-space: nowrap;
  }
  header .header-inner .gnb .trigger span {
    display: none;
  }
  header .header-inner .gnb .trigger:before {
    background: url(/images/list.svg);
  }
  header .header-inner .gnb .special-navi {
    white-space: nowrap;
    width: 360px;
    overflow-y: hidden;
  }
  header .header-inner .gnb a:first-child::after {
    display: none;
  }
  header .mega-navi {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333333;
    width: 100%;
    display: none;
  }
  header .mega-navi .mega-navi-inner {
    width: 1160px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item {
    color: #ffffff;
    font-size: 300;
    line-height: 1.8em;
    flex: 1;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item b {
    color: #ffffff;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item .mega-navi-item-wrap a {
    display: block;
    color: #bdbdbd;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item .mega-navi-item-wrap a:hover {
    text-decoration: underline;
  }
}