@import "../variables", "../reset", "../fonts";

/* ########### Tablet CSS ############ */
@media (min-width: 768px) and (max-width: 1024px) {
  /* front-slider */
  .front-slider {
    overflow-x: hidden;
    .front-slider-items {
      .slick-slide {
        .front-slider-item-wrap {
          &.first {
            background-position: 60%;
          }
          &.second {
            background-position: 24%;
          }
          &.third {
            background-position: 10%;
          }
        }
      }
      .front-slider-item {
        .front-slider-item-wrap {
          width: 100%;
          border-radius: 0;
          .desc {
            padding: 54px 40px;
            h1 {
              font-size: 30px;
              margin: 0;
            }
            button {
              border-radius: 3px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  /* category-shortcut */
  section.category-shortcut {
    .category-shortcut-inner {
      .category-shortcut-items {
        flex-wrap: wrap;
        .category-shortcut-item {
          flex-basis: 25%;
          height: auto;
          background-color: $white !important;
          &:nth-child(1) em {
            background-color: rgba($cyanblue, 0.2);
          }
          &:nth-child(2) em {
            background-color: rgba($orange, 0.2);
          }
          &:nth-child(3) em {
            background-color: rgba($pink, 0.2);
          }
          &:nth-child(4) em {
            background-color: rgba($greencyan, 0.2);
          }
          &:nth-child(5) em {
            background-color: rgba($turquoise, 0.2);
          }
          &:nth-child(6) em {
            background-color: rgba($light-black, 0.2);
          }
          em {
            .bi {
              color: $dim-black !important;
            }
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  /* focus-package */
  .focus-package {
    overflow-x: hidden;
    .focus-package-inner {
      .focus-package-content {
        .focus-package-items1,
        .focus-package-items2 {
          width: 900px;
          .slick-list {
            margin: 0 -5px;
          }
          .slick-slide {
            margin: 0 5px;
          }
          .focus-package-item {
            .thum {
              height: 200px;
            }
            .desc {
              .package-title {
                font-size: 12px;
              }
              h4 {
                font-size: 14px;
              }
              .package-info {
                font-size: 12px;
              }
              .package-price {
                font-size: 12px;
                em {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .controls1,
        .controls2 {
          display: none;
        }
      }
    }
  }

  /* best-package */
  .best-package {
    .best-package-inner {
      .best-package-content {
        .best-package-wrap {
          flex-direction: column;
          gap: 5px;
          .best-package-banner {
            width: 100%;
            height: 100%;
          }
          .best-package-items-outer {
            gap: 10px;
            .best-package-intro {
              padding: 10px 0;
              border-top: 1px solid $dim-gray;
              border-bottom: 1px solid $dim-gray;
              text-align: center;
              h3 {
                font-size: 20px;
              }
              .desc,
              .tag {
                font-size: 18px;
              }
            }
            .best-package-items {
              flex-direction: row;
              justify-content: space-between;
              .best-package-item {
                width: 100%;
                flex-direction: column;
                .thum {
                  width: 100%;
                  height: 100%;
                }
                .desc {
                  .best-package-title {
                    font-size: 13px;
                  }
                  h4 {
                    font-size: 15px;
                  }
                  .best-package-info {
                    word-break: auto-phrase;
                    font-size: 11px;
                  }
                  .best-package-price {
                    em {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* early-bird */
  .early-bird {
    .early-bird-inner {
      .early-bird-content {
        .countdown-wrap {
          width: 345px;
          margin-bottom: 20px;
        }
        .early-bird-banner {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  /* countdown */
  .countdown {
    font-size: 30px;
  }

  /* home-shopping */
  .home-shopping {
    .home-shopping-inner {
      .home-shopping-content {
        .home-shopping-items {
          gap: 13px;
          .home-shopping-item {
            height: 100%;
            .thum {
              height: 100%;
              &:before {
                font-size: 12px;
                width: 50px;
                height: 50px;
              }
            }
            .desc {
              font-size: 15px;
              margin: 12px 0 12px 17px;
            }
          }
        }
      }
    }
  }

  /* slogan */
  .slogan {
    background-image: url(/images/슬로건\ 이미지.png);
    background-position: 52%;
    height: 200px;
    .slogan-inner {
      display: inline-block;
      top: 3%;
      text-align: center;
      .slogan-content {
        span {
          font-size: 26px;
          color: $white;
          em {
            color: $cyanblue;
          }
        }
        .slogan-img {
          display: none;
        }
      }
    }
  }

  /* review */
  .review {
    .review-inner {
      .review-content {
        .review-wrap {
          .review-items {
            gap: 15px;
            .review-item {
              .review-info {
                h3 {
                  font-size: 16px;
                }
                p {
                  font-size: 14px;
                }
              }
              .thum {
                img {
                  width: 105px;
                  height: 105px;
                }
              }
            }
          }
        }
        .btn-review {
          font-size: 15px;
        }
      }
    }
  }
}
