@import "../variables", "../reset", "../fonts";

/* ########### Mobile Common CSS ############ */
@media (max-width: 767px) {
  [class*="inner"] {
    width: 100%;
  }

  /* Header */
  header {
    .header-inner {
      width: 100%;
      padding: 0 10px;
      .logo-search {
        .logo {
          img {
          }
        }
        .search {
          display: none;
        }
        .login-register-buttons {
        }
        .user-alam {
          margin-left: auto;
          display: none;
          .avatar {
            img {
              height: 28px;
              border-radius: 50%;
            }
          }
          a {
            margin-right: 15px;
            vertical-align: middle;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            .bi {
              font-size: 20px;
              width: 25px;
              display: block;
            }
            em {
              position: absolute;
              width: 15px;
              height: 15px;
              background-color: $green;
              border-radius: 50%;
              right: -1px;
              top: 2px;
              text-align: center;
              line-height: 10px;
              &:before {
                content: attr(data-count);
                color: $white;
                font-size: 11px;
              }
            }
            .bi-bell + em {
              right: -4px;
            }
            div {
              font-size: 11px;
              font-family: $rw-font;

              white-space: nowrap;
            }
          }
        }
      }
      .gnb {
        .trigger {
          span {
            display: none;
          }
          &:before {
            background: url(/images/list.svg);
          }
        }
        .special-navi {
          white-space: nowrap;
          width: 360px;
          overflow-y: hidden;
        }
        a {
          &:first-child::after {
            display: none;
          }
        }
      }
    }
    .mega-navi {
      position: absolute;
      left: 0;
      top: 100%;
      background-color: $dark-black;
      width: 100%;
      display: none;
      .mega-navi-inner {
        width: 1160px;
        margin: auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        .mega-navi-item {
          color: $white;
          font-size: 300;
          line-height: 1.8em;
          flex: 1;
          b {
            color: $white;
          }
          .mega-navi-item-wrap {
            a {
              display: block;
              color: $dark-gray;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
